<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="description"
        content="Nano Technologies is divided into three unit namely ICT, Oil & Gas and Engineering services, in the area of ICT we have delivered I.T services such as Network Solution & Security Support, Internet solutions (Ecommerce, Internet Security etc.), Database & Application Solutions with Oracle software, I.T Training, Banking and Accounting solutions, GIS applications, Telecom Solutions and I.T Consulting Services to Government, Oil & Gas, Banks, Insurance, Telecoms sector, Educational Institutions and manufacturing Companies etc">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="NanoTechnologies, NanoTech, ICT ">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link href="https://fonts.googleapis.com/css?family=Gupter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
    <link rel="stylesheet" href="css/style.css" />

    <title>{{ pageTitle }}</title>
</head>



<body class="bg-white">
    <nav class="navbar navbar-expand-lg fixed-top bg-secondary">
        <div class="container">
            <a href="index.html" class="navbar-brand"><span>Nano</span>Tech</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon js--nav-icon"><i class="fa fa-bars" style="color: #fff"></i></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav js--nav">
                    <li class="nav-item active">
                        <a class="nav-link yes" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#contact-form">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{{ body }}}




    <footer class="footersection bg-light py-5" id="footerfdiv">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 footer-div">
                    <div>
                        <img src="nanotechnologies.png" width="250" alt="">
                        <p>
                            info@Nanotech.com.ng <br>
                            Jomo House <br>
                            1 Oshifila street, Anifowoshe, Ikeja Lagos <br>
                            Lagos, Nigeria <br>


                            +2348100762225 <br>


                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="text-center mt-5 mb-2">

                <div id="s10_copyright">
                    <p>&copy;
                        <script>document.write(new Date().getFullYear());</script> NanoTechnologies. All rights
                        reserved.</p>
                </div>

            </div>
        </div>


    </footer>


</body>

</html>